* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(62, 85, 0);
  color: white;
  font-family: "Poppins", sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.hero h1 {
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 50px;
}

.hero h1 span {
  color: #ffd700;
}

textarea {
  width: 600px;
  height: 250px;
  resize: none;
  background: #ffffff;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 20px;
  outline: none;
  margin-bottom: 30px;
  font-size: 16px;
}

.row {
  width: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
}

button {
  background-color: black;
  border: none;
  padding: 15px 25px;
  color: #ffffff;
  border-radius: 35px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #333;
}

button img {
  width: 16px;
  margin-right: 8px;
}

select {
  flex: 1;
  background-color: rgb(0, 0, 0);
  height: 50px;
  padding: 0 20px;
  outline: none;
  border: none;
  color: #ffffff;
  border-radius: 35px;
  appearance: none;
  background-image: url(dropdown.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: calc(100% - 20px);
  background-position-y: 20px;
  width: 100%;
}
